<noscript>
    <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
        Javascript and reload this page!
    </h2>
</noscript>
<div id="main-content" class="container h-100">
    <div class="d-flex justify-content-end align-items-center h-10">
        <div class="col-lg-4">
            <input type="text" [(ngModel)]="userAlias" class="form-control" placeholder="alias" [disabled]="!!webSocket.getSessionId">
        </div>
        <div class="col-lg-8 px-1">
            <div class="form-group">
                <button (click)="connect()" [disabled]="webSocket.getSessionId" class="btn btn-success m-1">{{ webSocket.getSessionId ? 'Connected': 'Connect' }}</button>
                <button (click)="disconnect()" [disabled]="!webSocket.getSessionId" class="btn btn-danger m-1">Disconnect</button>
                <button (click)="toggleMedia()" class="btn btn-primary">Toggle Media</button>
            </div>
        </div>
    </div>
    <div class="d-flex h-90" [ngClass]="{'disable-pointer-events': !webSocket.getSessionId && false,'blur': !webSocket.getSessionId && false   }">
        <div class="col-4 p-3">
            <div class="d-flex fw-bolder h-5 justify-content-center align-items-center my-1">
                <span>Active Users</span>
                <i (click)="refreshUserList()" title="Refresh users list" class="fa-sharp fa-solid fa-arrows-rotate mx-2 pt-1 cursor-pointer text-primary"></i>
            </div>
            <div (click)="setRecipient()" class="d-flex bg-listed-user cursor-pointer rounded h-5 justify-content-center align-items-center my-1" [ngClass]="{'selected': recipientId == 'all' }">
                <span>All</span>
            </div>
            <div *ngFor="let user of userList;let index = index" (click)="setRecipient(user.userId)" [ngClass]="{'selected': recipientId == user.userId }" class="d-flex bg-listed-user cursor-pointer rounded h-5 justify-content-center align-items-center my-1">
                <span>{{ user.alias || 'anonymous-'+index }}</span>
            </div>
        </div>
        <div class="col-8">
            <app-chat-board *ngIf="textMedia" [recipientId]="recipientId" (sendMessage)="sendMessage($event)"></app-chat-board>
            <app-multimedia-chat-board *ngIf="!textMedia" [recipient]="recipient"></app-multimedia-chat-board>
        </div>
    </div>

</div>